<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Dados do Banco</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="container">
    <h1>Dados do Banco - <%= title %></h1>
    <pre><code class="json"><%= jsonData %></code></pre>
  </div>
</body>
</html>